Repository jdpedrie/gcloud-php, changes with the labels that .github/labeler.yml gives for each.
All labels: api: automl, api: bigquery, api: bigquerydatatransfer, api: bigtable, api: bigtableadmin, api: cloudasset, api: clouddebugger, api: clouderrorreporting, api: cloudiot, api: cloudkms, api: cloudscheduler, api: cloudtasks, api: cloudtrace, api: core, api: dataproc, api: datastore, api: dialogflow, api: dlp, api: firestore, api: language, api: logging, api: monitoring, api: oslogin, api: pubsub, api: redis, api: securitycenter, api: spanner, api: speech, api: storage, api: talent, api: texttospeech, api: translation, api: videointelligence, api: vision, api: webrisk, api: websecurityscanner

.github/labeler.yml:

"api: automl":
- AutoMl/**

"api: bigquery":
- BigQuery/**

"api: bigquerydatatransfer":
- BigQueryDataTransfer/**

"api: bigtable":
- Bigtable/**

"api: bigtableadmin":
- Bigtable/src/Admin/**

"api: cloudasset":
- Asset/**

"api: clouddebugger":
- Debugger/**

"api: clouderrorreporting":
- ErrorReporting/**

"api: cloudiot":
- Iot/**

"api: cloudkms":
- Kms/**

"api: cloudscheduler":
- Scheduler/**

"api: cloudtasks":
- Tasks/**

"api: cloudtrace":
- Trace/**

"api: core":
- Core/**

"api: dataproc":
- Dataproc/**

"api: datastore":
- Datastore/**

"api: dialogflow":
- Dialogflow/**

"api: dlp":
- Dlp/**

"api: firestore":
- Firestore/**

"api: language":
- Language/**

"api: logging":
- Logging/**

"api: monitoring":
- Monitoring/**

"api: oslogin":
- OsLogin/**

"api: pubsub":
- PubSub/**

"api: redis":
- Redis/**

"api: securitycenter":
- SecurityCenter/**

"api: spanner":
- Spanner/**

"api: speech":
- Speech/**

"api: storage":
- Storage/**

"api: talent":
- Talent/**

"api: texttospeech":
- TestToSpeech/**

"api: translation":
- Translate/**

"api: videointelligence":
- VideoIntelligence/**

"api: vision":
- Vision/**

"api: webrisk":
- WebRisk/**

"api: websecurityscanner":
- WebSecurityScanner/**

wip
  .github/workflows/label.yml
Labels: none

feat: support query optimizer version
  Spanner/src/Connection/Grpc.php
  Spanner/src/Database.php
  Spanner/src/Operation.php
  Spanner/src/TransactionalReadTrait.php
Labels: api: spanner

update logic for setting query options and tests
  Spanner/src/Connection/Grpc.php
  Spanner/tests/Unit/Connection/GrpcTest.php
Labels: api: spanner

fix formatting
  Spanner/tests/Unit/Connection/GrpcTest.php
Labels: api: spanner

address review
  BigQuery/tests/System/ManageJobsTest.php
Labels: api: bigquery

chore: enable backwards compatibility CI task
  .github/workflows/bc-check.yaml
Labels: none

break bc because yolo
  BigQuery/src/Bytes.php
Labels: api: bigquery

try this
  .github/workflows/bc-check.yaml
Labels: none

blah
  Core/src/Testing/GcTestListener.php
  phpunit.xml.dist
Labels: api: core

blah blah
  BigQuery/src/Bytes.php
  Core/src/Testing/GcTestListener.php
Labels: api: bigquery, api: core

break bc because yolo (#12)
  .github/workflows/bc-check.yaml
  Core/src/Testing/GcTestListener.php
  phpunit.xml.dist
Labels: api: core

bar
  BigQuery/src/Bytes.php
Labels: api: bigquery

ddfd
  BigQuery/src/Bytes.php
Labels: api: bigquery

fixes
  Core/src/Testing/GcTestListener.php
  Trace/src/Link.php
  Trace/src/MessageEvent.php
Labels: api: cloudtrace, api: core

bar (#13)
  Core/src/Testing/GcTestListener.php
  Trace/src/Link.php
  Trace/src/MessageEvent.php
Labels: api: cloudtrace, api: core

break again
  BigQuery/src/Bytes.php
Labels: api: bigquery

use latest
  .github/workflows/bc-check.yaml
Labels: none

testing
  .github/workflows/docs.yml
Labels: none

test
  .github/workflows/docs.yml
Labels: none

try action
  .github/workflows/docs.yml
Labels: none

add other stuff back
  .github/workflows/docs.yml
  dev/sh/build-docs
Labels: none

memory limit yo
  .github/workflows/docs.yml
Labels: none

do it better
  .github/workflows/docs.yml
Labels: none

fix
  .github/workflows/docs.yml
Labels: none

again
  .github/workflows/docs.yml
Labels: none

again
  .github/workflows/docs.yml
Labels: none

try pushing
  .github/workflows/docs.yml
Labels: none

wrap up
  .github/workflows/docs.yml
  dev/sh/build-docs
  dev/sh/push-docs
Labels: none

update app
  assets/images/icon-lang-go-godoc.ico
  home.html
  index.html
  overview.html
  src/app-919f236f00.css
  src/app-a1f7862495.js
  src/app-a575c28c23.js
  src/app-fee2aa47bd.css
  src/vendor-5f07016dac.js
  src/vendor-7562b190aa.js
Labels: none

Set theme jekyll-theme-cayman
  _config.yml
Labels: none

feat: use credentials option for keyfile
  Core/src/ClientTrait.php
  Core/src/RequestWrapper.php
  Core/src/RequestWrapperTrait.php
  Storage/src/StorageClient.php
Labels: api: core, api: storage

changes without context
  Asset/src/V1/Gapic/AssetServiceGapicClient.php
  Asset/src/V1beta1/Gapic/AssetServiceGapicClient.php
  Asset/synth.metadata
  Asset/tests/Unit/V1/AssetServiceClientTest.php
Labels: api: cloudasset

revert Spanner/ change
  Spanner/src/SpannerClient.php
  Spanner/synth.metadata
Labels: api: spanner

feat: add collection parent method
  Firestore/src/CollectionReference.php
  Firestore/src/DocumentReference.php
  Firestore/src/PathTrait.php
  Firestore/src/Query.php
  Firestore/src/SnapshotTrait.php
Labels: api: firestore

Delete manifest.json.1
  manifest.json.1
Labels: none

Update Manifest
  manifest.json
Labels: none

pubsub emulator tests
  .github/workflows/pubsub-emulator-system-tests.yaml
  .github/workflows/spanner-emulator-system-tests.yaml
  .github/workflows/start-pubsub-emulator.sh
Labels: none

trigger
  .github/emulator/pubsub.sh
  .github/workflows/pubsub-emulator-system-tests.yaml
  PubSub/README.md
Labels: api: pubsub

chore: move split to github actions
  .github/workflows/release.yml
  dev/src/Split/Command.php
  dev/src/Split/GitHub.php
  dev/src/Split/ReleaseNotes.php
  dev/src/Split/SplitInstall.php
  dev/tests/Unit/Split/GitHubTest.php
  dev/tests/Unit/Split/ReleaseNotesTest.php
  dev/tests/fixtures/split/get-release.json
  dev/tests/fixtures/split/get-repo.json
  dev/tests/fixtures/split/release-notes.md
Labels: none

fixes
  .github/workflows/release.yml
  .travis.yml
  dev/src/Split/Command.php
  dev/src/Split/GitHub.php
  dev/src/Split/ReleaseNotes.php
Labels: none
